-# Renders the content header bar.

-# run_result - local variable provided by the calling template.

- run_result = @content[:run_result]
- run_config = run_result.run_config
- application_name = run_config.application.application_name

.content_header
  - unless @header[:nav_disabled]
    .navigation
      - args = {locals: {skip_non_official: false}}
      = scoped_partial('run_result/run_result_nav', application_name, args)

  .content_header_summary
    .summary
      %span.summary_row
        %table
          %tr
            %td{rowspan: 3}
              - args = {locals: {entity: run_result}}
              = scoped_partial('result_icon', application_name, args)
            %td.padded
              - mode = run_result.mode
              - run_name = run_result.run_name
              %strong= run_name
              (
              %a{href: link('run', run_name, 'static', "#{mode}.log")}> Log
              )
          %tr
            %td.padded
              - date = date_time_format(run_result.start_date_time, :date_with_day)
              - time = entity_date_time_summary(run_result, include_end_time: false)
              = "#{date} #{time}"
          %tr
            %td.padded
              = scoped_partial('run_result/trigger', application_name)
      = scoped_partial('run_result/run_result_summary_1', application_name)
      = scoped_partial('run_result/run_result_summary_2', application_name)
